<div class="container">
  <h3>Create Resource</h3>
  <hr>
  <div class="row">
    <div class="input-field col s12 m8">
      <input type="text" placeholder="Name Resource">
    </div>
    <div class="input-field col s12 m4">
      <select>
        <option value="" disabled selected>Select Parent</option>
        <option value="1">módulo venta</option>
        <option value="2">módulo compras</option>
        <option value="3">módulo facturación</option>
      </select>
    </div>
    <div class="input-field col s12 m12">
      <textarea class="materialize-textarea" placeholder="Description"></textarea>
    </div>
  </div>
  <button class="btn waves-effect-waves-light green darken-1">Create</button>
  <button class="btn waves-effect-waves-light orange darken-1">View List</button>
</div>
