<div class="container">
  <h3>Create Resource</h3>
  <hr>
  <div class="row">
    <div class="form-group col-xs-12 col-md-8">
      <input type="text" class="form-control" placeholder="Name Resource">
    </div>
    <div class="form-group col-xs-12 col-md-4">
      <select class="form-control">
        <option value="" disabled selected>Select Parent</option>
        <option value="1">módulo venta</option>
        <option value="2">módulo compras</option>
        <option value="3">módulo facturación</option>
      </select>
    </div>
    <div class="form-group col-xs-12 col-md-12">
      <textarea class="form-control" placeholder="Description"></textarea>
    </div>
  </div>
  <button class="btn btn-success">Create</button>
  <a class="btn btn-warning" routerLink="/authorization/list-resources">View List</a>
</div>
