<div class="container" id="sign-container">
  <h3 class="center-align">Sign Up</h3>
  <div id="form-signup">
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <input type="text" placeholder="Name">
      </div>
      <div class="input-field col s10 offset-s1">
        <input type="text" placeholder="Phone">
      </div>
      <div class="input-field col s10 offset-s1">
        <input type="text" placeholder="Email">
      </div>
    </div>
    <div class="row">
        <!-- CHANGED THE DIV BELOW (Changed size to col s10 offset-s1 
        to match the divs above and added center-align -->
        <div class="col s10 offset-s1 center-align">
            <button class="btn waves-effect waves-light green darken-4">
                Sign Up
            </button>
            <button class="btn waves-effect waves-light red darken-4">
                Cancel
            </button>
        </div>
    </div>
    
  </div>


</div>
