<div class="container">
  <h3>Create Permission</h3>
  <hr>
  <div class="row">
    <div class="form-group col-xs-12 col-md-4">
      <select class="form-control">
        <option value="" disabled selected>Select User</option>
        <option value="1">yording</option>
        <option value="2">maria</option>
        <option value="3">antonia</option>
      </select>
    </div>
    <div class="form-group col-xs-12 col-md-4">
      <select class="form-control">
        <option value="" disabled selected>Select Role</option>
        <option value="1">editor</option>
        <option value="2">lector</option>
        <option value="3">admin</option>
      </select>
    </div>
    <div class="form-group col-xs-12 col-md-4">
      <select class="form-control">
        <option value="" disabled selected>Select Resource</option>
        <option value="1">módule venta</option>
        <option value="2">módulo compras</option>
        <option value="3">módulo facturación</option>
      </select>
    </div>
  </div>
  <button class="btn btn-success">Create</button>
  <a class="btn btn-warning" routerLink="/authorization/list-permissions">View List</a>
</div>